/* Light Mode (default) */
:root {
    --bg-color: #f9f9f9;
    --text-color: #333;
    --link-color: #007bff;
    --navbar-bg: #2b2623;
    --navbar-text-color: white;
    --banner-bg: #ffffff85;
    --post-bg-color: White;
    --search-bg-color: White;
    --button-bg: #d19d2e;
    --button-bg: #d19d2e;
    --button-text-color: white;
    --profile-bg-color: #554f4f;
    --footer-bg: linear-gradient(90deg, #2b2623, #554f4f);
    --theme-button-bg: #2b2623;
    --theme-button-bg-hover: #b8861b;
    --form-label-color: #333;
    --form-label-bg: #d4d0c8;
}

/* Dark Mode */
body.dark-mode {
    --bg-color: #131212;
    /* Dark background */
    --text-color: #f9f9f9;
    /* Light text */
    --link-color: #80aaff;
    /* Lighter links */
    --navbar-bg: #1a1a1a;
    /* Dark navbar */
    --navbar-text-color: #d1d1d1;
    /* Light text for navbar */
    --banner-bg: #131212;
    --post-bg-color: rgb(43, 40, 40);
    --search-bg-color: rgb(29, 28, 28);
    --button-bg: #555;
    /* Darker buttons */
    --button-bg: white;
    --button-text-color: #fff;
    /* Light text for buttons */
    --profile-bg-color: rgb(29, 28, 28);
    --footer-bg: #1a1a1a;
    /* Dark footer */
    --theme-button-bg: #1a1a1a;
    --theme-button-bg-hover: #100f0f;
    --form-label-color: white;
    --form-label-bg: rgb(49, 48, 48);
    --form-bg-color: rgb(49, 48, 48);
}

.navbar {
    font-family: "Lobster", sans-serif;
}

h1 {
    font-family: "Lobster", sans-serif;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

main {
    padding-bottom: 150px;
    padding-top: 80px;
}

.main {
    align-items: center;
    place-self: center;
}

.main-welcome {
    font-family: "Lobster", sans-serif;
    align-items: center;
    place-self: center;
    width: 100vw;

}

/* NEW: Hide overlay by default */
.menu-overlay {
    display: none;
}

/* Menu button - hidden by default */
.menu-btn {
    display: none;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.menu-btn:hover {
    transform: scale(1.1);
}


/* Navbar Styles */
.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-bg);
    color: var(--navbar-text-color);
    padding: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}

.logo-text {
    color: #d19d2e;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-links {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0px 2rem;
}


.navbar-links a {
    color: var(--navbar-text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: var(--button-bg);
    text-decoration: underline;
}

.navbar-links a.active {
    color: var(--button-active);
    font-weight: bold;
    text-decoration: underline;
}

.banner {
    position: relative;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    /* Ensures the pseudo-element doesn't overflow */
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: var(--banner-bg)
    linear-gradient(), 
    url('banner.jpg'); */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), var(--banner-bg)), url('banner.jpg') no-repeat center center / cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1;
}


.banner-text {
    position: relative;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: xx-large;
    z-index: 1;
    text-align: center;
}

.search-form-div {
    background-color: var(--search-bg-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 50vw;
}

#searchForm {
    background-color: var(--search-bg-color);

}

/* Posts Container */
.posts-container {
    padding-top: 3rem;
    justify-self: center;
}

.posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

.post {
    background-color: var(--post-bg-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    width: 350px;
    justify-self: center;
}

.post:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.post h2 {
    font-size: 24px;
    color: #d19d2e;
    margin-bottom: 10px;
}

.post-meta {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px;
}

.post p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
    float: left;
}

.fullscreen-image {
    max-width: 100vw;
    max-height: 100vh;
}

.post-tittle {
    justify-self: center;
}

.breed-dog-div {
    justify-items: center;
}

/* Footer */
footer {
    background: var(--footer-bg);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

footer p {
    margin: 0;
}

footer a {
    color: #d19d2e;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}


/* Profile Styles */
.profile-container {
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    justify-items: center;
    max-width: 80vw;
}

.profile-data {
    grid-column-gap: 20px;
    max-width: 80vw;
}

#recentSearch {
    justify-items: center;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.profile-pic {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details {
    text-align: left;
}

#user-name {
    font-size: 32px;
    font-weight: bold;
    color: #d19d2e;
}

#user-bio {
    font-size: 18px;
    color: #b9b6b7;
}

/* Navbar Links (Links will be placed in the .navbar-links for smaller screens) */
.navbar-links a {
    color: #d1d1d1;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    display: block;
    padding: 1rem;
}

a {
    text-decoration: none;
}


/* Welcome Animation Container */
.welcome-animation {
    width: 100%;
    height: 400px;
    text-align: center;
    align-items: center;
    justify-items: center;
    position: relative;
}

/* Orange Cat Animation (Above the Welcome Text) */
.above-title-animation {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 283.69px;
    right: 378.6px;
}

/* Left Cat Animation */
.left-animation {
    position: absolute;
    bottom: 263.6px;
    right: 1166.9px;
}

.right-animation {
    position: absolute;
    width: 150px;
    height: 150px;
    opacity: 0;
    bottom: 267px;
    right: 158px;
}

/* Welcome Text */
.welcome-text {
    margin-top: 25vh;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 6rem;
    color: #d19d2e;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* Indicate it's clickable */
}


/* Modal Styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

/* Buttons */
button {
    font-size: 16px;
    background-color: #d19d2e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #b8861b;
}

button:hover {
    background-color: #b8861b;
}

#theme-toggle {
    font-size: 16px;
    background-color: var(--theme-button-bg);
}

#theme-toggle:hover {
    background-color: var(--theme-button-bg-hover);
}

/* Form Container */
form {
    max-width: 30vw;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--form-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Labels */
form label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: var(--form-label-color);
    margin-bottom: 8px;
}

/* Form Inputs */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: var(--form-label-color);
    background-color: var(--form-label-bg);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input:focus,
form textarea:focus,
form select:focus {
    border-color: #d19d2e;
    box-shadow: 0 0 5px rgba(209, 157, 46, 0.5);
    outline: none;
}

/* Textarea */
form textarea {
    resize: vertical;
    min-height: 100px;
}

/* Form Buttons */
form button {
    font-size: 16px;
    background-color: #d19d2e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover {
    background-color: #b8861b;
    transform: scale(1.05);
}

/* Form Error Messages */
form .error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Form Success Messages */
form .success {
    color: #2ecc71;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Responsive Design for Forms */
@media screen and (max-width: 768px) {
    form {
        padding: 15px;
        max-width: 60vw;
    }

    form button {
        width: 100%;
    }
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {

    /* Show menu button */
    .menu-btn {
        display: block;
    }

    /* Display menu links when 'active' class is added */
    .navbar-links.active {
        display: flex;
        width: 100vw;
        height: 100vh;
        padding: 0px;
        top: 5rem;
    }

    .navbar {
        align-items: center;
    }

    .posts-container {
        max-width: 100%;
    }

    .posts {
        grid-template-columns: repeat(1, 1fr);
    }

    .post {
        width: 250px;
        padding: 15px;

    }
}

.splide__slide {
    margin-right: 20px;
    border-radius: 0;
}

.div-carrosel .post:hover {
    transform: none;
}

/* Tablet Styles - Show 2 grid template */

/* Desktop Styles - Show 3 grid template */
@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .posts {
        grid-template-columns: repeat(3, 1fr);
        /* Three columns on desktop */
        grid-column-gap: 20px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns on tablet */
        grid-column-gap: 20px;
    }
}

/* Large Desktop Styles - Show 4 grid template */
@media screen and (min-width: 1921px) {
    .posts {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
    }
}
/* Media for 1024 */
@media (max-width: 1024px) {
    
    .above-title-animation {
        bottom: 292px;
        right: 155.9px;
    }

    /* Left Cat Animation */
    .left-animation {
        bottom: 276px;
        right: 825.9px;
    }

    .right-animation {
        bottom: 285px;
        right: -4.1px;
    }
    .welcome-text{
        font-size: 5rem;
    }
}

/* Overlay + Slide-In Menu for Mobile */
@media (max-width: 768px) {
    .welcome-text{
        font-size: 4rem;
    }
    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .menu-overlay.active {
        display: flex;
    }

    .menu-btn {
        display: block;
        font-size: 1.5rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        z-index: 20;
    }

    .navbar-links {
        position: fixed;
        top: 0;
        right: -300px;
        width: 230px;
        height: 100vh;
        background-color: #2b2623;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease;
        z-index: 15;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .navbar-links.active {
        right: 0;
    }

    .navbar-links a {
        font-size: 18px;
        padding: 10px;
    }

    .posts {
        grid-template-columns: repeat(1, 1fr);
        /* One column on mobile */
    }

    .post {
        width: 250px;
    }

    .above-title-animation {
        right: 265.9px;
        bottom: 300px;
    }

    /* Left Cat Animation */
    .left-animation {
        bottom: 250px;
        right: 506.9px;
    }

    .right-animation {
        bottom: 255px;
        right: 80.9px;
    }

}

/* Mobile Adjustments for Smaller Screens */
@media (max-width: 430px) {
    .welcome-animation {
        transform: scale(0.5);
    }

    .above-title-animation {
        bottom: 300px;
        right: 71.9px;
    }

    /* Left Cat Animation */
    .left-animation {
        bottom: 256px;
        right: 295.9px;
    }

    .right-animation {
        bottom: 256px;
        right: -94.1px;
    }
    .welcome-text{
        margin-left: 0px;
        margin-right: 0px;
    }
}

.div-carrosel {
    justify-self: center;
    max-width: 70vw;
}